<div id="books-show">
    <h2>Ruby on Rails Power</h2>
    <div class="books-show-left">
        <%= image_tag("https://images-na.ssl-images-amazon.com/images/I/51pBROaN%2BlL._SX403_BO1,204,203,200_.jpg", size: "270x400") %>
    </div>
    <div class="books-show-right">
        <h3>Book info:</h3>
        <ul>
            <li><strong>Category: </strong>Ruby on Rails</li>
            <li><strong>Author: </strong>Aneesha Bakharia</li>
            <li><strong>Publisher: </strong>Course Technology PTR</li>
            <li><strong>Year: </strong>2007</li>
            <li><strong>ISBN: </strong>1598632167</li>
            <li><strong>Format: </strong>Paperback</li>
            <li><strong>Pages: </strong>678</li>
        </ul>
        <%= link_to "Buy for $5.97", "http://www.ebay.com/itm/Ruby-on-Rails-Power-The-Comprehensive-Guide-ExLib-/262869524456?epid=50789121&hash=item3d343e9fe8:g:ulMAAOSwr~lYsVWX", class: "btn btn-success", target: "_blank" %>
    </div>
    <div class="clearfix"></div>
        <h4>Excerpt</h4>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum tenetur rem veritatis voluptates, perspiciatis, aliquid sit et eius porro amet atque odit, aliquam dolorem est enim perferendis eaque ad architecto?</span>
        <span>Eius sint nisi magnam nemo odit perferendis, ducimus assumenda totam? Quo libero molestias dicta sunt delectus eius numquam, quod dolorum voluptatibus omnis architecto voluptatum harum porro. Expedita sunt, nemo nobis.</span>
        <span>Id iste ipsam explicabo sequi placeat voluptas tenetur voluptate rem! Explicabo quae dicta optio dolorum totam ratione, et perspiciatis veritatis inventore nobis non labore aperiam temporibus earum, a animi, vel?</span>
        <span>Nobis tenetur modi expedita voluptatem ullam pariatur eos velit sed impedit doloribus illo asperiores iusto sapiente, quibusdam deleniti voluptatibus culpa, laborum in blanditiis laudantium, reiciendis. Ipsa fugiat odit magnam ducimus!</span></p>
</div>