<h1><%= @page_title %></h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quaerat enim neque ipsa beatae fuga, asperiores facilis cum labore iusto soluta nam minus, laboriosam iste officia consectetur a. Placeat, eveniet!</span>
<span>Placeat rem iste dolores, molestias? Ducimus odio quis, eos dolorum blanditiis distinctio, qui sed nesciunt itaque, necessitatibus repellendus. Mollitia, numquam accusamus eveniet itaque, consectetur soluta earum temporibus! Aut, officia, at.</span>
<span>Vitae alias ipsam eligendi possimus expedita, sequi error aut est reiciendis nulla, debitis nesciunt laudantium quisquam ipsa quo eum earum at animi, modi aliquid! Amet id autem dolore quos voluptatibus?</span>
<span>Maxime magni quo beatae fuga excepturi dolores temporibus nesciunt ipsam dignissimos quod. Ducimus cum corporis iste porro laudantium officia, commodi, dignissimos quas, provident atque reiciendis ut repellat praesentium esse culpa.</span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi aperiam nisi blanditiis sapiente iure, possimus sint aliquam ut corporis? Recusandae tempore, exercitationem natus hic. Eligendi perferendis molestias ratione, fuga sed.</p>


<div class="well">
    <h3>Location Info</h3>
    <ul>
        <li>The BookStore</li>
        <li>499 Massachusetts Ave, Unit 3</li>
        <li>Boston, MA, 02110</li>
        <li>Phone: (234) 234-2683</li>
        <li>Email: support@thebookstore.com</li>
    </ul>
</div>